# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  push:
    branches:
    - production

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch: theme-push

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        
      - name: sync
        env:
          dest: 'root@plein-air-archive-cms:/srv/www/cms.pleinairarchive.com/current/web/app/themes/twentytwenty-child'
        run: |
          echo "${{secrets.DEPLOY_KEY}}" > deploy_key
          chmod 600 ./deploy_key
          rsync -chav -o -g --delete -e 'ssh -i ./deploy_key -o StrictHostKeyChecking=no' --exclude /deploy_key --exclude /.git/ --exclude /.github/ ./ ${{env.dest}}
          ssh -i ./deploy_key -o StrictHostKeyChecking=no chown -R web:www-data /srv/www/cms.pleinairarchive.com/current/web/app/themes/twentytwenty-child
                 
            
            
